<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Audio File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.audio</string>
				<string>public.mpeg-4-audio</string>
				<string>com.apple.m4a-audio</string>
				<string>public.mp3</string>
				<string>com.microsoft.waveform-audio</string>
				<string>public.aiff-audio</string>
			</array>
		</dict>
	</array>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.hellotaotao.Voicely.record</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>voicely</string>
			</array>
		</dict>
	</array>
	<key>NSSupportsLiveActivities</key>
	<true/>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeAudio</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Start Recording</string>
			<key>UIApplicationShortcutItemType</key>
			<string>au.taotao.voicely.start-recording</string>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
		<string>audio</string>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>WhisperKitVersion</key>
	<string>$(WHISPERKIT_VERSION)</string>
</dict>
</plist>
